.ace-line span {
  font-size: 18.62px;
}

[data-font-size="14"],
.font-size\:14 {
  font-size: 18.62px !important;
}

[data-font-size="16"],
.font-size\:16 {
  font-size: 21.28px !important;
}

[data-font-size="20"],
.font-size\:20 {
  font-size: 26.6px !important;
}

[data-font-size="24"],
.font-size\:24 {
  font-size: 31.92px !important;
}

[data-font-size="30"],
.font-size\:30 {
  font-size: 39.9px !important;
}
