.ace-line span {
  font-size: 14px;
}

[data-font-size="14"],
.font-size\:14 {
  font-size: 14px !important;
}

[data-font-size="16"],
.font-size\:16 {
  font-size: 16px !important;
}

[data-font-size="20"],
.font-size\:20 {
  font-size: 20px !important;
}

[data-font-size="24"],
.font-size\:24 {
  font-size: 24px !important;
}

[data-font-size="30"],
.font-size\:30 {
  font-size: 30px !important;
}
